.body--light {
  color: $text;

  .text-body {
    color: $text;
  }

  .text-subtitle1 {
    color: $subtext1;
  }

  .text-subtitle2 {
    color: $subtext2;
  }

  .text-mantle {
    color: $mantle;
  }

  .q-table {
    thead tr {
      background-color: $crust;
      color: #000;
    }

    &__container {
      color: $text;
    }
  }

  .q-breadcrumbs {
    &__separator {
      color: $text;
    }
  }
}
