.body--light {
  color: $text;

  .text-body,
  .q-field__native {
    color: $text;
  }

  .text-subtitle1 {
    color: $subtext1;
  }

  .text-subtitle2 {
    color: $subtext2;
  }

  .text-mantle {
    color: $mantle;
  }
}
