h1,
h2,
h3,
h4,
h5,
h6 {
  margin: inherit;
}

.body--light {
  background-color: $background;
  color: $text;

  .q-drawer {
    background-color: $mantle;

    .q-list {
      .q-item {
        &:hover {
          background-color: $crust;
        }
      }

      .q-router-link--exact-active {
        background-image: linear-gradient(to right, $crust, $crust);
      }
    }
  }
}
