$primary: #1e66f5;
$secondary: #8839ef;
$accent: #04a5e5;

$dark: #313244;
$dark-page: #1e1e2e;

$positive: #40a02b;
$negative: #d20f39;
$info: #04a5e5;
$warning: #fe640b;

$background: #eff1f5;
$text: #4c4f69;
$subtext1: #5c5f77;
$subtext2: #6c6f85;
$mantle: #e6e9ef;
$crust: #dce0e8;
$suface0: #ccd0da;
